.ui-widget.ui-widget-content {
    position: fixed;
    top: 50px;
    left: auto;
    right: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .pc-row[_ngcontent-c1] {
        margin-left: 0 !important;
        margin-right: -5px !important;
    }
}

.info-hotel-image-mry-horizontal {
    height: 150px;
    width: 100%;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.popup-carousel {
    margin-top: 10vh;
}

#may28ctamodal .owl-carousel .owl-stage-outer {
    height: unset !important;
    position: fixed !important;
    overflow: unset !important;
    margin-top: 20px;
}

.popup-carousel .owl-height {
    height: 450px !important;
}

.popup-carousel img {
    height: 180px !important;
    width: 350px !important;
}

.mdi-header-carousel.owl-theme .owl-nav .owl-prev {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
}

.mdi-header-carousel.owl-theme .owl-nav .owl-next {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75px;
    right: 0;
}

.mdi-map-btn {
    z-index: 1;
}

.mdi-share-btn {
    z-index: 1;
}

.logo-header-mobile {
    position: absolute;
    top: 0;
    z-index: 1;
}

#shareModal .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
}

#shareModal .modal-header .close {
    opacity: 1;
}

.icon-container {
    position: absolute;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-size: 30px;
    width: 70px;
    border-right: 2px solid #fff;
}

.social-container {
    color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.social-container a {
    color: #fff;
    padding-left: 75px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
}

.facebook-container {
    background-color: #4267b2;
    border: 2px solid #4267b2;
}

.twitter-container {
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
}

.mail-container {
    background-color: #fff;
    border: 2px solid #333;
}

.whatsapp-container {
    background-color: #01e675;
    border: 2px solid #01e675;
}

.phone-container {
    background-color: #333;
    border: 2px solid #333;
}

.mail-container.social-container a {
    color: #333;
}

.mail-container.social-container {
    color: #333;
}

.mail-container .icon-container {
    border-right: 2px solid #333;
    padding-bottom: 3px;
}

body.set_css a.whatsapp-floating:before {
    content: none;
}

.whatsapp-floating {
    position: fixed !important;
    right: 30px;
    bottom: 30px;
    transition: 0.3s all ease-out;
    z-index: 99;
    text-decoration: none !important;
}

.whatsapp-floating img {
    width: 60px;
}

@media screen and (min-width: 992px) {
    .whatsapp-floating img {
        width: 60px;
    }
}

@media screen and (max-width: 768px) {
    .whatsapp-floating img {
        width: 50px;
    }

    .whatsapp-floating {
        right: 10px;
        bottom: 120px;
    }
}

@media screen and (min-width: 1400px) {
    .whatsapp-floating img {
        width: 60px;
    }
}
